@import url("//fonts.googleapis.com/css2?family=Archivo+Black:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    filter: brightness(75%);
    box-shadow:2px 0px 70px 29px #000000;
  }
  
#overlay {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:80%;
    background-color: #000000;
}
* {
  font-family:'Archivo Black', sans-serif;

}
body{
    background: #feaf0d;
    background: linear-gradient(180deg, #feaf0d 35%, #eae41f 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.saul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
 text-align:center;
}

.text h1{
 font-size:40px;
 color:#ff0200;
 text-shadow:#ffffff 0px 2px 2px, #ffffff 0px -2px 2px, #ffffff 2px 0px 2px, #ffffff -2px 0px 2px;
}

.text h2, h3{
  text-shadow: none;
  color:#494127;
 }

button {
  width: 20%;
  padding: 8px 0;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  background: #494127;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  box-shadow:0px 5px 10px 0px #9e5f11;
  }
  
  button:hover {
    background: #ff8130;
   }

.saul-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}