body{
    background-color: grey;
}

.saul{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Text */
.text{
 text-align:center;
 font-family:'Vollkorn SC', serif;
 color:#ffffff;
}

button {
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px; 
    padding: 15px 30px;
  }
  
  button:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
  }

/* Input 
.saul button {
 font-family:'Adamina', serif;
 border-top-left-radius:10px;
 border-top-right-radius:10px;
 border-bottom-left-radius:10px;
 border-bottom-right-radius:10px;
 padding: 15px 32px;
 margin: 4px 2px;
 cursor: pointer;
 font-size: 16px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}*/

.saul-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* .saul button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */

.saul-gif {
    display: none; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
